<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!--******************************************Design style***************************************** -->
	 <!-- Login dashboards -->
	<link rel="stylesheet"  href="../../app/css/dashboards/login.css">

	 <!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

	<!--******************************************Call to scripts ***************************************  -->

	<!-- fontawesome -->   
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<!-- Login core --> 
    <script type="text/javascript" src="../../app/js/core/login.js" defer></script>
</head>

<!--********************************************BODY*-*************************************************-->
<body>
	<img class="wave" src="../../app/img/adminlte/wave.png">
	<!--.container  --> 
	<div class="container">
		<div class="img">
		 <!--<img src="img/bg.svg">  -->
		</div>
		 <!-- .login-content-->
		<div class="login-content">
			<!-- form --> 
			<form>
				<img src="../../app/img/adminlte/client.png">  
				<h2 class="title">BIENVENIDOS</h2>
				<!--.input-div one  (mail field entry)--> 
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo</h5>
           		   		<input type="text" class="input">
           		   </div>
				</div> 
				<!-- /.input-div one  (mail field entry) --> 
				
				 <!--.input-div pass  (password field entry)-->   
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
					</div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input">
            	   </div>
				</div>
				 <!-- /.input-div pass  (password field entry)-->   
            	<a href="#">Forgot Password?</a>
				<input type="submit" class="btn" value="Login">
				<a href="../pages/registro_cliente.html">Registrate</a>
			</form>
			<!-- /form  --> 
		</div>
		 <!-- /.login content -->
	</div>
	<!--.container --> 
  
</body>
</html>    